## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes.index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count=application_df["APPLICATION_TYPE"].value_counts()
print(app_type_count)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff= 400
# use the variable name `application_types_to_replace`
application_types_to_replace =list(app_type_count[app_type_count<cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count[classification_count>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cuoff =  1000

classifications_to_replace =list(classification_count[classification_count<classification_cuoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_num_df = pd.get_dummies(application_df)
app_num_df.head(30)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
5,1,5000,1,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
6,1,31452,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
7,1,7508025,1,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,True,False
8,1,94389,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
9,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
10,1,69656,0,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
11,1,165593,0,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
12,1,5000,1,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
13,1,5301,1,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
14,1,5000,1,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
15,1,5000,1,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
16,1,5000,1,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
17,1,86380556,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False
18,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
19,1,376109,0,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
20,1,5000,1,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
21,1,5000,1,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22,1,318296,0,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
23,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
24,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
25,1,5000,1,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
26,1,5000,1,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
27,1,44004,1,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
28,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
29,1,5000,1,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = app_num_df.drop(["IS_SUCCESSFUL"],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 6271 (24.50 KB)
Trainable params: 6271 (24.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=80)

Epoch 1/80
804/804 [==============================] - 2s 1ms/step - loss: 0.5681 - accuracy: 0.7247
Epoch 2/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7304
Epoch 3/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7325
Epoch 4/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7320
Epoch 5/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7329
Epoch 6/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7335
Epoch 7/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7339
Epoch 8/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7350
Epoch 9/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7355
Epoch 10/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7359
Epoch 11/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7346
Epoch 12/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7367
Epoch 13/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7363
Epoch 14/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7369
Epoch 15/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7373
Epoch 16/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7367
Epoch 17/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7365
Epoch 18/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7369
Epoch 19/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7373
Epoch 20/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7371
Epoch 21/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7358
Epoch 22/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7369
Epoch 23/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7375
Epoch 24/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7372
Epoch 25/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7378
Epoch 26/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7383
Epoch 27/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7386
Epoch 28/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7381
Epoch 29/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7381
Epoch 30/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7374
Epoch 31/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7388
Epoch 32/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7379
Epoch 33/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7379
Epoch 34/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7385
Epoch 35/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7393
Epoch 36/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7392
Epoch 37/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7399
Epoch 38/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7393
Epoch 39/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7378
Epoch 40/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7399
Epoch 41/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7392
Epoch 42/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7392
Epoch 43/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7393
Epoch 44/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7397
Epoch 45/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7395
Epoch 46/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7393
Epoch 47/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7402
Epoch 48/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7395
Epoch 49/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7392
Epoch 50/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7398
Epoch 51/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7396
Epoch 52/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7408
Epoch 53/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7397
Epoch 54/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7402
Epoch 55/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7398
Epoch 56/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7406
Epoch 57/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7404
Epoch 58/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7400
Epoch 59/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7405
Epoch 60/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7403
Epoch 61/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7407
Epoch 62/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7402
Epoch 63/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7400
Epoch 64/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7399
Epoch 65/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7409
Epoch 66/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7406
Epoch 67/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7398
Epoch 68/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7410
Epoch 69/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7405
Epoch 70/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7401
Epoch 71/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7411
Epoch 72/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7404
Epoch 73/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7402
Epoch 74/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7407
Epoch 75/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7402
Epoch 76/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7414
Epoch 77/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7406
Epoch 78/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7402
Epoch 79/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7401
Epoch 80/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7404

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5556 - accuracy: 0.7257 - 352ms/epoch - 1ms/step
Loss: 0.5555755496025085, Accuracy: 0.7257142663002014

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  50
hidden_nodes_layer2 = 25
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 50)                2200

 dense_9 (Dense)             (None, 25)                1275

 dense_10 (Dense)            (None, 10)                260

 dense_11 (Dense)            (None, 1)                 11

=================================================================
Total params: 3746 (14.63 KB)
Trainable params: 3746 (14.63 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=25)

Epoch 1/25
804/804 [==============================] - 2s 1ms/step - loss: 0.5708 - accuracy: 0.7201
Epoch 2/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7295
Epoch 3/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7307
Epoch 4/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7323
Epoch 5/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7332
Epoch 6/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7337
Epoch 7/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7334
Epoch 8/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7355
Epoch 9/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7344
Epoch 10/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7344
Epoch 11/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7362
Epoch 12/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7359
Epoch 13/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7359
Epoch 14/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7342
Epoch 15/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7360
Epoch 16/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7359
Epoch 17/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7369
Epoch 18/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7375
Epoch 19/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7367
Epoch 20/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7363
Epoch 21/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7367
Epoch 22/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7379
Epoch 23/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7367
Epoch 24/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7368
Epoch 25/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7377

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5517 - accuracy: 0.7262 - 298ms/epoch - 1ms/step
Loss: 0.5516651272773743, Accuracy: 0.7261807322502136

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 6
hidden_nodes_layer4 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 10)                440

 dense_13 (Dense)            (None, 8)                 88

 dense_14 (Dense)            (None, 6)                 54

 dense_15 (Dense)            (None, 4)                 28

 dense_16 (Dense)            (None, 1)                 5

=================================================================
Total params: 615 (2.40 KB)
Trainable params: 615 (2.40 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6325 - accuracy: 0.6910
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5852 - accuracy: 0.7213
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5692 - accuracy: 0.7264
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5604 - accuracy: 0.7316
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7323
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7332
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7336
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5525 - accuracy: 0.7343
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7341
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7333
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7348
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7347
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7353
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7341
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7352
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7353
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7341
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7346
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7352
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7338
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7346
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7349
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7358
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7350
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7346
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7348
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7354
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7348
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7353
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7356
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7359
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7358
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7353
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7361
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7364
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7363
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7363
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7352
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7336
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7362
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7369
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7360
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7352
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7364
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7356
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7355
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7372
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7360
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7357
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7362

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5512 - accuracy: 0.7262 - 307ms/epoch - 1ms/step
Loss: 0.5512056350708008, Accuracy: 0.7261807322502136

In [29]:
# Export our model to HDF5 file
path = "C:/Users/MDYOUSUF.REJA/OneDrive - Harris County/Desktop/RICE Data Analytics/RICE-VIRT-DATA-PT-06-2023-U-LOLC/21-Module Challenge/AlphabetSoupCharity_Optimization.h5"
nn.save(path,save_format='h5')